*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
:root {
    --bg-header: hsl(216, 53%, 9%);
    --bg-header2: hsl(215, 49%, 16%);
    --bg-btn: hsl(217, 28%, 15%);
    --bg-main: hsl(218, 28%, 13%);
    --bg-main2: hsl(215, 66%, 15%);
    --bg-footer: hsl(216, 53%, 9%);
    --bg-testimonials: hsl(219, 30%, 18%);

    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
    --white:  hsl(0, 0%, 100%);
}

/* ! =======GENERAL STYLES========================= */
button {
    border: none;
    outline: none;
 	 background: none;
    cursor: pointer;
    margin-top: 2em;
}
.btn_primary {
    background-color: var(--blue);
    color: whitesmoke;
    padding: .7em 3em;
    font-size: 22px;
    border-radius: 100px;
}
a {
    text-decoration: none;
}
h1, h2, h3,h4, button, header a {
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3 {
    margin-bottom: 0.5em;
}
p {
    color: rgba(245, 245, 245, 0.701);
}
img {
    max-width: 80%;
}
img:not(.logo_img) {
    margin-bottom: 20px;
}
body {
    min-width: 100vh;
    min-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
}
.container {
    max-width: 64rem;
    width: 92%;
    margin: 0 auto;
}
.flex_row {
    display: flex;
    align-items: center;
}
section {
    /* margin: 48px 0; */
    padding: 4em 0;
}
/* ! =======HEADER STYLES========================= */
header {
    background-color: var(--bg-header2);
}
header .container {
    height: 120px;
}
.logo_box {
    margin-right: 10px;
}
.logo_img {
    width: 120px;
}
nav {
    margin-left: auto;
}
.nav_list {
    column-gap: 12px;
    margin-right: 20px;
}
.list_item_link {
    color: var(--white);
}
.list_item_link:is(:hover, :focus) {
    border-bottom: 2px solid var(--white);
}
@media (min-width: 40rem) {
    .logo_img {
        width: 180px;
    }
    .nav_list {
        column-gap: 20px;
    }
    .list_item_link {
        font-size: 1.5rem;
    }
}

/* ! =======MAIN STYLES========================= */
main {
    background-color: var(--bg-main2);
}
/* ! =======HERO STYLES========================= */
section.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero_title {
    max-width: 30ch ;
    font-size: 32px;
}
.hero > p {
    max-width: 50ch;
}
/* ! =======FEATURES STYLES========================= */
section.features {
    display: grid;
    gap: 1.875rem;   
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feature_title {
}
.feature > img {
}
.feature_parag {
    max-width: 40ch;
    text-align: center;
    padding: 0 1em;
}
@media (min-width: 40rem) {
    section.features {
        grid-template-columns: 1fr 1fr;
    }
    img {
        max-width: 100%;
    }
}
/* ! =======PRODUCTIVE STYLES========================= */
section.productive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 1em;
}
.productive_info {
    max-width: 50ch;
}
.productive_info a {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    width: 178px;
    white-space: nowrap;
    padding-bottom: 5px;
    margin-top: 10px;
}
.right_arrow_icon {
    border-radius: 100%;
    background-color: var(--blue);
    color: var(--bg-main2);
    font-size: 18px;
    padding: 5px;
}
.productive > img {
    margin: 0 auto;
}
.productive_info {
    padding-right: 1em;
}
@media (min-width: 40rem) {
    section.productive {
        flex-direction: row;
        align-items: center;
    }
    .productive_info {
        display: flex;
        flex-direction: column;
        row-gap: .5em;
        padding-right: 0;
    }
    .productive > img {
        max-width: 60%;
    }

}



















/* ! =======HEADER STYLES========================= */
/* ! =======HEADER STYLES========================= */
